 body{
	background-color: #f0f0f0;
	overflow: auto;
} 

.header{
	left: 0;
	right: 0;
	top: 0;
	/*bottom: 500;*/
	height: 370px; /* Высота блока */
	position: absolute;
	/*text-align: top;
	vertical-align: middle; */
	background-image:url("flower.jpg");
	/* background-color: #f7e0ce;  */
	box-shadow: 1px 3px 0px rgba(0,0,0,0.1); 
	color: #484848;
}

.nav{
	 left: 0;
	right: 0;
	top: 285px;
	position: absolute;
	height: 50px; 
	background-color: #f4f4f4;	
	color: #484848;
	box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.53); /* Тень */
/*   	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.53); /* Тень */ 
	opacity: 0.88; /* Значение прозрачности */
    filter: alpha(Opacity=85);
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li { 
    float: left;
	width: 25%;
	
}

ul.nav a {
    display: block;
	width: auto; 
    padding:12.5px;
    background-color: #f4f4f4;	
    text-decoration: none;
    color: #333;
    text-align: center;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16pt;
}

ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}

.cont{
	left: 90px;
	right: 90px;
	top: 400px;
	height: 550px;
	position: absolute;
	background-color: #f9f9f9;
	color: #484848;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1); /* Тень */
}

.incont {
	left: 150px;
	right: 150px;
	top: 100px;
	height: 545px;
	position: absolute;
	text-align: center;
	color: #484848;
	font-size: 22;
}


.up {
	text-transform: uppercase;
}

.down {
	/* text-transform: lowercase; */
	text-align:left;
}

.footer{
	bottom: 0px;
	left: 0;
	right: 0; 
	top: 980px;
	height: 150px;
	position: absolute;
	background-color: #575757;  
	color: #ffffff;
	/*c8e6b9 зеленый*/
}

.footer_left{
	left: 90px;
	bottom: 20px;
	height: 110px;
	width: 500px;
	position: absolute;
	/* background-color: #f7e8c9;   */
	color: #ffffff;
	text-align: left;
	font-size: 18px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
} 


.footer_right{
	right: 90px;
	bottom: 20px;
	height: 80px;
	width: 250px;
	position: absolute;
	text-align: right;
	/* background-color: #f7e8c9;   */
	color: #ffffff;
} 

img {
padding: 5px;
}

.top {
	right: 28px;
	bottom: 20px;
	height: 80px;
	width: 250px;
	position: absolute;
	text-align: right;
	color: #ffffff;
}

