 body{
	background-color: #f0f0f0;
	overflow: auto;
} 

.header{
	left: 0;
	right: 0;
	top: 0;
	/*bottom: 500;*/
	height: 370px; /* Высота блока */
	position: absolute;
	/*text-align: top;
	vertical-align: middle; */
	background-image:url("flower.jpg");
	/* background-color: #f7e0ce;  */
	/* box-shadow: 0px 3px 0px rgba(0,0,0,0.1); */ 
	color: #3d372f;
}

.nav_line {
	left: 90;
	right: 90;
	top: 361px;
	height: 10px;
	position: absolute;
	background-color: #3d372f;  
	box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.1); /* Тень */
}

.nav{
	left: 90;
	right: 90;
	top: 295px;
	position: absolute;
	height: 30px; 
	background-color: #f9f9f9;
	color: #3d372f;
/*   	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.53); /* Тень */ 
	opacity: 0.83; /* Значение прозрачности */
}
ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav li { 
    float: left;
	width: 25%;
	
}
ul.nav a {
    display: block;
	width: auto; 
    padding:12.5px;
    background-color: #f4f4f4;	
    text-decoration: none;
    color: #333;
    text-align: center;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16pt;
}

/* ul.nav a:hover{
	background-color: #3d372f;
    color: #f9f9f9;
} */

.nav a:hover{
	background-color: #3d372f;
    color: #f9f9f9;
	}

.cont{
/* 	left: 90px; */
	right: 90px;
	top: 400px;
	height: 560px;
	width: 720px;
	position: absolute;
	background-color: #f9f9f9;
	color: #3d372f;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1); /* Тень */
}

.pic{
/* 	left: 140px;
	top: 450px; */
	left: 90px;
	top: 400px;
	height: 460px;
	width: 300;
	border: 50px solid #f9f9f9;
	position: absolute;
	background: url("pic.jpg");
	color: #3d372f;
	float: right;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1); /* Тень */
}

.footer{
	bottom: 0px;
	left: 0;
	right: 0; 
	top: 1000px;
	height: 150px;
	position: absolute;
	background-color: #3d372f;  
	color: #ffffff;
	/*c8e6b9 зеленый*/

}

.footer_left{
	left: 90px;
	bottom: 20px;
	height: 110px;
	width: 500px;
	position: absolute;
	/* background-color: #f7e8c9;   */
	color: #ffffff;
	text-align: left;
	font-size: 18px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
} 


.footer_right{
	right: 90px;
	bottom: 20px;
	height: 80px;
	width: 250px;
	position: absolute;
	text-align: right;
	/* background-color: #f7e8c9;   */
	color: #ffffff;
} 

img {
padding: 5px;
}

.top {
/* background-color: #e02500;
top: 500px;
right: 0;
height: 53px;
width: 53px;
position: fixed; */

	right: 28px;
	bottom: 20px;
	height: 80px;
	width: 250px;
	position: absolute;
	text-align: right;
	color: #ffffff;
}

